/* a {
  text-decoration: none;
  color: #ffffffb2;
  cursor: pointer;
}
*/
button,
button:focus {
  outline: none;
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

button:active {
  outline: none;
  background: transparent;
  border: 1px solid grey;
}

.game-details-container {
  padding-left: 2.8rem;
  width: 35vw;
  height: 100%;
}

.game-details {
  height: 3.2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.game-detail button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 70%;
  justify-content: space-between;
}

.game-detail {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.active-router {
  /* background-color: #1e88e5; */
  background-color: #2f80ed;
}

.text-nav {
  font-size: 0.6rem;
  color: #ffffffb2;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
}
