.start-game-container {
  padding-right: 1rem;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.start-game-button,
.stop-game-button {
  font-family: Roboto;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 500;
  line-height: 0.8rem;
  /* letter-spacing: 0.0625rem; */
  /* width: 6.1rem; */
  width: fit-content;
  padding: 0.3rem;
  height: 1.8rem;
  text-transform: uppercase;
  text-align: center;
  color: #2196f3;
  background-color: #f2f9fe;
  /* text-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.25); */
  border-radius: 0.2rem;
  box-shadow: 0 3px rgba(0, 0, 0, 0.12);
  border: none;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-game-button:enabled {
  cursor: pointer;
}

.ava-container {
  padding-left: 0.15rem;
  /* width: 2rem;
  height: 2rem; */
  /* background-color: #C4C4C4; */
}

.ava-container img {
  border-radius: 50%;
}
