.timer-wrapper {
  font-family: 'Roboto';
  font-size: 1.8rem;
  width: 10vw;
  min-width: 4rem;
  display: flex;
  align-items: center;
  /* background-color: #ffffff;
  border-radius: 0.2rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24);
  color: rgba(0, 0, 0, 0.4); */
}

.timer {
  width: 100%;
  height: 100%;
  /* padding: 0 2rem 0.5rem; */
  padding: 2% 25%;
  background-color: #ffffff;
  border-radius: 0.2rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24);
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.separator {
  padding: 0 5%;
}
