.about-main-container {
  width: 80vw;
  padding: 5% 10% 10% 5%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  text-align: left;
}

.about-heading {
  /* font-family: Roboto; */
  font-size: 1rem;
  /* font-style: normal;
  font-weight: 500; */
  line-height: 1.5rem;
  letter-spacing: 0.007500000298023224rem;
  /* text-align: left; */
}

.about-wrapper {
  padding-top: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  height: 90%;
}

.step-wrapper {
  display: flex;
  width: 75vw;
  align-items: flex-start;
  justify-content: space-between;
  font-family: Roboto;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.05rem;
  letter-spacing: 0.013rem;
  text-align: center;
}

.step-descr-wrapper {
  display: flex;
  padding: 0.8rem;
  width: 33vw;
  height: 91%;
  background-color: #ffffff;
}

.step-sample-wraper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.step-num-container {
  padding: 0.5rem;
}

.step-icon {
  background: #2196f3;
  /* 2 dp */
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.14);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  /* left: calc(50% - 1.2rem / 2);
  top: calc(50% - 1.2rem / 2); */
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-descr-container {
  color: rgba(0, 0, 0, 0.6);
}

.step-description {
  font-size: 0.7rem;
  line-height: 1rem;
  text-align: left;
}

.register-container {
  width: 26.82vw;
  height: 26vh;
  background-color: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.14);
  text-align: left;
}

.register-input-wrapper {
  padding: 0 0.1rem 0.5rem;
  width: 65%;
}

.register-wrapper {
  padding: 0.25rem 0 0 0.25rem;
}

.register-heading {
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.6rem;
}

.register-input-container {
  padding: 0.7rem 0 0 0.5rem;
}

.register-input-label {
  padding-left: 2.3%;
  position: absolute;
  color: #00000061;
  font-family: Roboto;
  font-size: 0.4rem;
  font-weight: 400;
  text-align: left;
}

.register-input {
  width: 100%;
  /* padding-top: 0.6rem; */
  padding: 0.6rem 0 0 1.2rem;
  border: none;
  border-color: transparent;
  background-color: rgba(33, 33, 33, 0.08);
  border-radius: 0.2rem 0.2rem 0 0;
  border-bottom: solid 1px #00000099;
  text-align: left;
  color: #000000de;
}
